.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.hover{
  transition: all 0.2s ease-in-out;
  border: 1px;
}
.hover:hover{
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: scale(1.045);
}
.navButton{
  border-radius: 15px;
  transition: all 0.2s ease-in-out;
  border: 1px;
  color: #22a1d3;
}
.navButton:hover{
  color: #434343;
  background-color: #F0EEE4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  transform: scale(1.045);
}
.navButton:focus{
  color: #434343;
  background-color: white;
}
.navButton:focus{
  color: #434343;
  background-color: white;
}